# Ignore build and test artifacts.
sa11y/
src/sa11y-lang
src/sa11y-js
logs/*
tests_output/*
tests/tinymce/
tests/performance.htm
logs/
node_modules/
tests_output/
screens/
.vscode/

# IDE & System Related Files
.buildpath
.project
.settings
.idea
.vscode
npm-debug.log

# OSX
._*
.Spotlight-V100
.Trashes
.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store

# Windows
Thumbs.db
Desktop.ini
